<header class="header">
  <div class="contenedor contenedor-header">
      <div class="logo-container">
          <a [routerLink]="['/home']" routerLinkActive="active">
              <img src="assets/image/f4a-logo.svg" alt="F4A">
          </a>
      </div>
      <nav>
      <ul class="main-nav">
          <li>
              <a class="anchor-link" [routerLink]="['/exercises']" routerLinkActive="active">
                  Rutinas
              </a>
          </li>
          <li>
              <a class="anchor-link" [routerLink]="['/meals']" routerLinkActive="active">
                  Alimentación
              </a>
          </li>
          <li>
            <a class="anchor-link" [routerLink]="['/meals']" routerLinkActive="active">
                Suplementación
            </a>
        </li>
      </ul>
      </nav>
      <div class="buttons">
          <div>
              <a class="inscribirse-link" [routerLink]="['/register']" routerLinkActive="active">
                  Registrarme
              </a>
          </div>
          <div>
              <a class="login-link" [routerLink]="['/login']" routerLinkActive="active">
                  Acceder
              </a>
          </div>
      </div>
      <nav class="menu-container">
          <!-- Checkbox para controlar el menú -->
          <label for="menu-toggle" class="menu-icon">
              <img src="./images/menu-icon.svg" alt="menu-icon" class="hamburger-icon">
          </label>
          <input type="checkbox" id="menu-toggle">
          <!-- Menú -->
          <ul class="menu">
              <li>
                  <a href="exercises.html">
                      Ejercicios para tu rutina diaria
                  </a>
              </li>
              <li>
                  <a href="meals.html">
                      Alimentacion para tu dia a dia
                  </a>
              </li>
              <li>
                  <a href="formulario.html" class="inscribirse-lin">
                      Inscribirse
                  </a>
              </li>
              <li>
                  <a href="acceso.html" class="acceso-lin">
                      Acceso
                  </a>
              </li>
          </ul>
      </nav>
  </div>
</header>
