<footer class="footer">

    <div class="contenedor footer-container">
        <div class="copyright">

            <div class="logo-container">
                <a [routerLink]="['/home']" routerLinkActive="active">
                    <img src="assets/image/f4a-logo.svg" alt="F4A">
                </a>
            </div>

            <ul class="creditos">
                <li class="autores"><h4>Copyright</h4></li>
                <li class="autores">&copy;Alfonso Vega</li>
                <li class="autores">&copy;Yolbert Rivas</li>
                <li class="autores">&copy;Diego Jiménez</li>
            </ul>

            <div class="siguenos">
                <h4>Síguenos</h4>
                <ul class="social-media">
                    <li class="social-item"><a href="https://www.facebook.com/?locale=es_LA" target="_blank"><img src="assets/image/Facebook.svg" alt="Facebook Icon"></a></li>
                    <li class="social-item"><a href="https://www.instagram.com/" target="_blank"><img src="assets/image/Instagram.svg" alt="Instagram Icon"></a></li>
                    <li class="social-item"><a href="https://wa.me/+573022854983" target="_blank"><img src="assets/image/WhatsApp.svg" alt="WhatsApp Icon"></a></li>
                </ul>
            </div>
        </div>
    </div>

</footer>
