<footer>
    <div class="contenedor footer-container">
        <div class="copyright">
            
            <div class="autores">
                <div class="logo-container">
                    <a [routerLink]="['/home']" routerLinkActive="active">
                        <img src="assets/image/f4a-logo.svg" alt="F4A">
                    </a>
                </div>
                <ul class="creditos">
                    <li class="autores">Copyright&copy;</li>
                    <li class="autores">Alfonso Vega</li>
                    <li class="autores">Yolbert Rivas</li>
                    <li class="autores">Diego Jiménez</li>
            </ul>
            </div> 
        </div>
        <div class="contacto">
                <h2>REDES SOCIALES</h2>       
        </div>
    </div>
    
</footer>