.icon-cart{
  width: 40px;
  height: 40px;
  stroke: var(--Green-Munsell--);
}

.icon-cart:hover{
  cursor: pointer;
}

img{
  max-width: 100%;
}

/* Header */
.container-tienda{
  display: flex;
  justify-content: space-between;
  padding: 30px 0 40px 0;
}

.container-icon{
  position: relative;
}

.count-products{
  position: absolute;
  top: 55%;
  right: 0;

  background-color: var(--limerick--);
  color: var(--white--);
  width: 25px;
  height: 25px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

#contador-productos{
  font-size: 12px;
}

.container-cart-products{
  position: absolute;
  top: 50px;
  right: 0;

  background-color: var(--white--);
  width: 400px;
  z-index: 1;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
  border-radius: 10px;

}

.cart-product{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;

  border-bottom: 1px solid rgba(0, 0, 0, 0.20);

}

.info-cart-product{
  display: flex;
  justify-content: space-between;
  flex: 0.8;
}

.titulo-producto-carrito{
  font-size: 20px;
}

.precio-producto-carrito{
  font-weight: 700;
  font-size: 20px;
  margin-left: 10px;
}

.cantidad-producto-carrito{
  font-weight: 400;
  font-size: 20px;
}

.icon-close{
  width: 25px;
  height: 25px;
}

.icon-close:hover{
  stroke: red;
  cursor: pointer;
}

.cart-total{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  gap: 20px;
}

.cart-total h3{
  font-size: 20px;
  font-weight: 700;
}

.total-pagar{
  font-size: 20px;
  font-weight: 900;
}

.hidden-cart{
  display: none;
}


/* Main */
.container-items{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin: 2rem 0;
    background-color: var(--Dark-Gunmetal--);
    border-radius: 2.5rem;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.item:hover{
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}

figure.imgShop {
  border-radius: 1.5rem;
  height: 98%;
}

.item img{
  width: 100%;
  height: 30rem;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  transition: all .5s;
}

.item figure{
  overflow: hidden;
}

.item:hover img{
  transform: scale(1.2);
}

.info-product{
  padding: 15px 30px;
  line-height: 2;
  display: flex;
  flex-direction: column;
}

.price{
  font-size: 18px;
  font-weight: 900;
}

.info-product button{
  border: none;
  background: none;
  color: var(--white--);
  padding: 15px 10px;
  cursor: pointer;
  background-image: linear-gradient(to right, var(--limerick--) 0%, var(--Green-Munsell--) 50%, var(--limerick--) 100%);
  font-size: 1.8rem;
  font-family: "Roboto";
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 2rem #000;
  border-radius: 1rem;
  border: .25rem solid #a4c400;

}
.container-supplements {
  max-width: 94%;
  width: 100%;
  margin: 0 auto;
}
