<div class="baner-principal">
  <section class="main-banner-section">


    <!-- @for (item of ads; track $index) {
        <div class="contenedor main-banner">
            <div class="left-banner">
                <h1 class="main__banner-title">{{item.tittle}}</h1>
                <p class="main__banner-paragraph">
                {{item.description}}
                </p>
                <a class="main__banner-button" [routerLink]="['/register']" routerLinkActive="active">Regístrate ahora</a>
            </div>
            <div class="right-banner">
                <img src="assets/image/fitness-for-all-banner-register.png" alt="mujer practicando crossfit con sogas">
            </div>
        </div>
    } -->

    <div class="contenedor main-banner">
        <div class="left-banner">
            <h1 class="main__banner-title">Fitness4All ya está aquí</h1>
            <p class="main__banner-paragraph">
            ¡El hogar de los más fuertes!<br>Mejora tu calidad de vida con ejercicios y alimentación saludable.
            </p>
            <a class="main__banner-button" [routerLink]="['/register']" routerLinkActive="active">Regístrate ahora</a>
        </div>
        <div class="right-banner">
            <img class="imgBannerHome" src="assets/image/fitness-for-all-banner-register.png" alt="mujer practicando crossfit con sogas">
        </div>
    </div>


</section>
</div>


