<section class="meals-days-section">
  <div class="contenedor meals-days-container">
    <div class="baner">
      <app-baner-principal></app-baner-principal>
    </div>
      <ul class="meals-days">

          <li class="day-item">
              <a href="#">
                  <img class="img-day" src="assets/image/monday-meal.png" alt="Imagen de alimentación balanceada para los días lunes">
              </a>
              <h2 class="day">Lunes</h2>
              <a href="#" class="meals-button">Ir ahora</a>
          </li>
          <li class="day-item">
              <a href="#">
                  <img class="img-day" src="assets/image/tuesday-meal.png" alt="Imagen de alimentación balanceada para los días martes">
              </a>
              <h2 class="day">Martes</h2>
              <a href="#" class="meals-button">Ir ahora</a>
          </li>
          <li class="day-item">
              <a href="#">
                  <img class="img-day" src="assets/image/wednesday-meal.png" alt="Imagen de alimentación balanceada para los días miércoles">
              </a>
              <h2 class="day">Miércoles</h2>
              <a href="#" class="meals-button">Ir ahora</a>
          </li>
          <li class="day-item">
              <a href="#">
                  <img class="img-day" src="assets/image/thursday-meal.png" alt="Imagen de alimentación balanceada para los días jueves">
              </a>
              <h2 class="day">Jueves</h2>
              <a href="#" class="meals-button">Ir ahora</a>
          </li>
          <li class="day-item">
              <a href="#">
                  <img class="img-day" src="assets/image/friday-meal.png" alt="Imagen de alimentación balanceada para los días viernes">
              </a>
              <h2 class="day">Viernes</h2>
              <a href="#" class="meals-button">Ir ahora</a>
          </li>
          <li class="day-item">
              <a href="#">
                  <img class="img-day" src="assets/image/saturday-meal.png" alt="Imagen de alimentación balanceada para los días sábado">
              </a>
              <h2 class="day">Sábado</h2>
              <a href="#" class="meals-button">ir ahora</a>
          </li>
          <li class="day-item">
              <a href="#">
                  <img class="img-day" src="assets/image/sunday-meal.png" alt="Imagen de alimentación balanceada para los días domingo">
              </a>
              <h2 class="day">Domingo</h2>
              <a href="#" class="meals-button">ir ahora</a>
          </li>

      </ul>

  </div>
</section>
