<!-- <table border="1">
  <thead>
      <tr>
          <th>imagen</th>
          <th>nombre de la rutina</th>
          <th>repetitionsStrength</th>
          <th>averageSetsStrenght</th>
          <th>repetitionsEndurance</th>
          <th>averageSetsEndurance</th>
          <th>repetitionsHypertrophy</th>
          <th>averageSetsHypertrophy</th>
          <th>descripcion</th>
          <th>grupo Muscular</th>
  </thead>
  <tbody>
      @for ( item of routines; track $index) {
          <tr>
              <td>{{ item.image }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.repetitionsStrength }}</td>
              <td>{{ item.averageSetsStrength }}</td>
              <td>{{ item.repetitionsEndurance }}</td>
              <td>{{ item.averageSetsEndurance }}</td>
              <td>{{ item.repetitionsHypertrophy }}</td>
              <td>{{ item.averageSetstHypertrophy }}</td>
              <td>{{ item.description }}</td>
              <td>{{ item.muscleGroup }}</td>
              <td>
                  <span (click)="editar(item._id)">Editar</span>
                  <span (click)="eliminar(item._id)">Eliminar</span>
              </td>
          </tr>
      }
  </tbody>
</table> -->


<div class="containerRoutines">
    <ul class="routinesList">
        @for (item of routines; track $index) {
            <li class="routineListItem">
                <div class="card">
                    <img class="imgItem" [src]="item.image" [alt]="item.name">
                    <div class="exerciseInfo">
                        <h4>{{item.name}}</h4>
                        <p class="description">{{item.description }}</p>
                        <p class="muscleGroup">{{ item.muscleGroup }}</p>
                        <h4>Fuerza</h4>
                        <div class="containerSets">
                            <h5>Repeticiones</h5>
                            <p class="repetitions">{{item.repetitionsStrength}}</p>
                            <h5>Series</h5>
                            <p class="sets">{{item.averageSetsStrength}}</p>
                        </div>
                        <h4>Resistencia</h4>
                        <div class="containerSets">
                            <h5>Repeticiones</h5>
                            <p class="repetitions">{{item.repetitionsEndurance}}</p>
                            <h5>Series</h5>
                            <p class="sets">{{item.averageSetsEndurance}}</p>
                        </div>
                        <h4>Aumento muscular</h4>
                        <div class="containerSets">
                            <h5>Repeticiones</h5>
                            <p class="repetitions">{{item.repetitionsHypertrophy}}</p>
                            <h5>Series</h5>
                            <p class="sets">{{item.averageSetstHypertrophy}}</p>
                        </div>
                    </div>
                    <td class="containerUpDe">
                        <span class="editar-eliminar" (click)="editar(item._id)">Editar</span>
                        <span class="editar-eliminar" (click)="eliminar(item._id)">Eliminar</span>
                    </td>
                </div>
            </li>
        }
    </ul>
</div>
