<main class="main">

    <section class="main-banner-section">
        

        <!-- @for (item of ads; track $index) {
            <div class="contenedor main-banner">
                <div class="left-banner">
                    <h1 class="main__banner-title">{{item.tittle}}</h1>
                    <p class="main__banner-paragraph">
                    {{item.description}}
                    </p>
                    <a class="main__banner-button" [routerLink]="['/register']" routerLinkActive="active">Regístrate ahora</a>
                </div>
                <div class="right-banner">
                    <img src="assets/image/fitness-for-all-banner-register.png" alt="mujer practicando crossfit con sogas">
                </div>
            </div>
        } -->
        
        <div class="contenedor main-banner">
            <div class="left-banner">
                <h1 class="main__banner-title">Fitness4All ya está aquí</h1>
                <p class="main__banner-paragraph">
                ¡El hogar de los más fuertes!<br>Mejora tu calidad de vida con ejercicios y alimentación saludable.
                </p>
                <a class="main__banner-button" [routerLink]="['/register']" routerLinkActive="active">Regístrate ahora</a>
            </div>
            <div class="right-banner">
                <img class="imgBannerHome" src="assets/image/fitness-for-all-banner-register.png" alt="mujer practicando crossfit con sogas">
            </div>
        </div>


    </section>

    <section class="exercises-section">
        <div class="contenedor exercises">
            <div class="exercises-content">
                <div class="leftHome">
                    <div class="ejerciciosHome">
                        <div class="parrafoHome">
                            <h2 class="subtittle">Ejercicios para tu rutina diaria</h2>
                            <p>El secreto del bombeo perfecto: el entrenamiento en la zona de pesos libres</p>
                            <div>
                                <a class="ir-ahora" [routerLink]="['/meals']" routerLinkActive="active">
                                    Ir ahora
                                </a>
                            </div>
                        </div>
                        <div class="imgHome">
                            <img src="assets/image/hombre-con-balon-medicinal.png" alt="Hombre practicando crossfit con balón medicinal">
                        </div>                        
                    </div>
                    <div class="alimentacionHome">
                        <div class="parrafoHome">
                            <h2 class="subtittle">Alimentación para tu día a día</h2>
                            <p>La alimentación es uno de los pilares para tener excelentes hábitos de vida saludables.</p>
                            <div>
                                <a class="ir-ahora" [routerLink]="['/meals']" routerLinkActive="active">
                                    Ir ahora
                                </a>
                            </div>
                        </div>
                        <div class="imgHome">
                            <img src="assets/image/mujer-alimentacion-saludable.png" alt="mujer alimentandose saludable">
                        </div>
                    </div>
                </div>
                <div class="rightHome">
                    <div class="tienda">
                        <div class="imgHome">
                            <img src="assets/image/tienda-de-suplementos.png" alt="Imagen con varios suplementos">
                        </div>
                        <div class="parrafoHome">
                            <h2 class="subtittle">Encuentra con nosotros la suplementación adecuada para cumplir tus objetivos</h2>
                            <p>Imagínate más allá de tus limites...
                                <br>mejor aún, olvídate de ellos.
                                <br>Suplementación deportiva especializada para mejorar tu rendimiento deportivo.</p>
                            <div>
                                <a class="ir-ahora" [routerLink]="['/meals']" routerLinkActive="active">
                                    Ir a la tienda
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    
</main>