
<main class="main">

    <section class="main-banner-section">
        <!-- @for (item of ads; track $index) {
            <div class="contenedor main-banner">
                <div class="left-banner">
                    <h1 class="main__banner-title">{{item.tittle}}</h1>
                    <p class="main__banner-paragraph">
                    {{item.description}}
                    </p>
                    <a class="main__banner-button" [routerLink]="['/register']" routerLinkActive="active">Regístrate ahora</a>
                </div>
                <div class="right-banner">
                    <img src="assets/image/fitness-for-all-banner-register.png" alt="mujer practicando crossfit con sogas">
                </div>
            </div>
        } -->

        <div class="contenedor main-banner">
            <div class="left-banner">
                <h1 class="main__banner-title">Fitness4All ya está aquí</h1>
                <p class="main__banner-paragraph">
                ¡El hogar de los más fuertes!<br>Mejora tu calidad de vida con ejercicios y alimentación saludable.
                </p>
                <a class="main__banner-button" [routerLink]="['/register']" routerLinkActive="active">Regístrate ahora</a>
            </div>
            <div class="right-banner">
                <img src="assets/image/fitness-for-all-banner-register.png" alt="mujer practicando crossfit con sogas">
            </div>
        </div>
    </section>

    <!-- <section class="exercises-section">
        <div class="contenedor exercises">
            <div class="exercises-content">
                <img class="home-icon" src="/images/Exc-icon.svg" alt="Icono de ejercicios">
                <h2 class="exercises-title">Ejercicios para tu rutina diaria</h2>
                <p>El secreto del bombeo perfecto: entrenamiento en la zona de pesos libres.</p>
                <a [routerLink]="['/exercises']" routerLinkActive="active" class="exercises-button">Ir ahora</a>
            </div>
            <div class="exercises-image">
                <img class="exercises-img" src="/images/Hombre-levantando-peso.png" alt="Hombre levantando peso">
            </div>
        </div>
    </section>

    <section class="meals-section">
        <div class="contenedor meals">
            <div class="meals-content">
                <img class="meals-img" src="/images/Allimentacion-saludable.png" alt="Hombre levantando peso">
                <img class="home-icon" src="/images/meals-icon.svg" alt="Icono de alimentación saludable">
                <h2 class="meals-title">Alimentación para tu día a día</h2>
                <p>La alimentación saludable es uno de los pilares fundamentales para tener unos excelentes hábitos de vida saludables.</p>
                <a [routerLink]="['/meals']" routerLinkActive="active">Ir ahora</a>
            </div>
        </div>
    </section>  -->
    <br><br><br><br><br><br><br>
</main>

