<section class="contenedor form-container">
    <h1 class="text-form"> Formulario de suplementos</h1>
    <form
    [formGroup]="formData"
    (ngSubmit)="handleSubmit()"
    >
    <label for="image"> Imagen </label>
    <input type="" placeholder="image" id="image" formControlName="urlImage">
    <div class="error">
    @if( formData.get( 'urlImage' )?.invalid && (formData.get( 'urlImage' )?.dirty || formData.get('urlImage')?.touched)){
    @if ( formData.get( 'urlImage' )?.errors?.[ 'required' ] ) {
    <small>El campo 'imagen' es obligatorio</small>
    }
    }
    </div>
    <label for="name"> * Suplemento</label>
    <input type="text" placeholder="name" formControlName="name" id="name">
    <div class="error">
    @if( formData.get( 'name' )?.invalid && ( formData.get( 'name' )?.dirty || formData.get( 'name' )?.touched )) {
    @if ( formData.get( 'name' )?.errors?.[ 'required' ] ) {
    <small>El campo 'name' es obligatorio</small>
    }
    }
    </div>
    
    <label for="description"> * Descripción</label>
    <input type="text" placeholder="description" formControlName="description" id="description">
    <div class="error">
    @if( formData.get( 'description' )?.invalid && ( formData.get( 'description' )?.dirty || formData.get( 'description' )?.touched )) {
    @if ( formData.get( 'description' )?.errors?.[ 'required' ] ) {
    <small>El campo 'description' es obligatorio</small>
    }
    }
    </div>
    
    <label for="quantity">* Cantidad </label>
    <input type="number" min="0" placeholder="quantity" id="quantity" formControlName="quantity">
    <div class="error">
    @if( formData.get( 'quantity' )?.invalid && ( formData.get( 'quantity' )?.dirty || formData.get( 'quantity' )?.touched )) {
    @if ( formData.get( 'quantity' )?.errors?.[ 'required' ] ) {
    <small>El campo 'cantidad' es obligatorio</small>
    }
    }
    </div>
    
    <label for="price">* Precio </label>
    <input type="number" min="0" placeholder="price" id="price" formControlName="price">
    <div class="error">
    @if( formData.get( 'price' )?.invalid && ( formData.get( 'price' )?.dirty || formData.get( 'price' )?.touched )) {
    @if ( formData.get( 'price' )?.errors?.[ 'required' ] ) {
    <small>El campo 'precio' es obligatorio</small>
    }
    }
    </div>
    <p>*Campos obligatorios</p>
    <br />
    <button type="submit" [disabled]="formData.invalid">Registrar</button>
    </form>
    </section>
    