<section class="exercises-routine-section">
  <div class="contenedor exercises-routine-container">
    <div class="baner">
      <app-baner-principal></app-baner-principal>
    </div>
      <ul class="exercises-routine">
          <li class="exercise-item">
              <img class="img-day" src="assets/image/back.png" alt="Imagen de homebre de espaldas">
              <h2 class="day">Espalda</h2>
              <a class="exercises-button">Ir ahora</a>
          </li>
          <li class="exercise-item">
              <img class="img-day" src="assets/image/arm.png" alt="Imagen de mujer mostrando su brazo">
              <h2 class="day">Brazo</h2>
              <a href="#" class="exercises-button">Ir ahora</a>
          </li>
          <li class="exercise-item">
              <img class="img-day" src="assets/image/chest.png" alt="Imagen de hombre entrenando pecho">
              <h2 class="day">Pecho</h2>
              <a href="#" class="exercises-button">Ir ahora</a>
          </li>
          <li class="exercise-item">
              <img class="img-day" src="assets/image/legs.png" alt="Hombre haciendo prensa para piernas">
              <h2 class="day">Pierna</h2>
              <a href="#" class="exercises-button">Ir ahora</a>
          </li>
      </ul>

  </div>
</section>
